// .bar-chart {
//   display: block;
//   width: 50%;
// }
.income-panel {
  margin-left: calc(3.5% - 17px);
  margin-right: calc(1.5% + 17px);
  border-radius: 0 !important;
}
.dash-icon {
  border-radius: 0;
}
.dash-card {
  border-top: 1px solid rgba(100, 100, 100, 0.3);
  border-left: 1px solid rgba(100, 100, 100, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mat-card-subtitle {
  margin-bottom: 0;
}
