<mat-expansion-panel
  [disabled]="true"
  [expanded]="true"
  class="income-panel mat-elevation-z8 "
>
  <mat-grid-list class="general-info" cols="{{show === 'All' ? '4' : '3'}}" rowHeight="120px">
    <a [routerLink]="['/incomes']">
      <mat-grid-tile *ngIf="show === 'Incomes' || show === 'All'">
        <mat-card class="mat-elevation-z0 dash-card link">
          <mat-card-header>
            <img
              class="dash-icon"
              mat-card-avatar
              src="../../assets/images/incomes-color.svg"
            />

            <mat-card-title>Incomes:</mat-card-title>
            <mat-card-subtitle>${{ incomeTotal | number: '.2' }}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>
    </a>

    <a [routerLink]="['/expenses']">
      <mat-grid-tile *ngIf="show === 'Expenses' || show === 'All'">
        <mat-card class=" mat-elevation-z0 dash-card link">
          <mat-card-header>
            <img
              class="dash-icon"
              mat-card-avatar
              src="../../assets/images/expenses-color.svg"
            />
            <mat-card-title>Expenses:</mat-card-title>
            <mat-card-subtitle>${{ expenseTotal | number: '.2' }}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>
    </a>

    <mat-grid-tile>
      <mat-card class="mat-elevation-z0 dash-card">
        <mat-card-header>
          <img
            class="dash-icon"
            mat-card-avatar
            src="../../assets/images/wallet.svg"
          />
          <mat-card-title>Balance:</mat-card-title>
          <mat-card-subtitle>${{ total | number: '.2' }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="mat-elevation-z0 dash-card">
        <mat-card-header>
          <img
            class="dash-icon"
            mat-card-avatar
            src="../../assets/images/credit-card.svg"
          />
          <mat-card-title>Total {{show === 'All' ? 'Transactions' : (show === 'Incomes' ? 'Incomes' : 'Expenses')}}:</mat-card-title>
          <mat-card-subtitle> {{ totalTransactions }} </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="5" rowHeight="600px">
    <mat-grid-tile colspan="1" *ngIf="show !== 'All'"></mat-grid-tile>
    <mat-grid-tile style="display: {{show === 'Incomes' ? 'block' : 'none'}}" colspan="{{show === 'Incomes' ? '3' : (show === 'All' ? '2' : '0')}}">
      <canvas
        baseChart
        [data]="incomeDoughnutChartData"
        [labels]="incomeDoughnutChartLabels"
        [chartType]="doughnutChartType"
      ></canvas>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="show === 'All'" colspan="1">
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
      ></canvas>
    </mat-grid-tile>
    <mat-grid-tile style="display: {{show === 'Expenses' ? 'block' : 'none'}}" colspan="{{show === 'Expenses' ? '3' : (show === 'All' ? '2' : '0')}}">
      <canvas
        baseChart
        [data]="expenseDoughnutChartData"
        [labels]="expenseDoughnutChartLabels"
        [chartType]="doughnutChartType"
      ></canvas>
    </mat-grid-tile>
  </mat-grid-list>
</mat-expansion-panel>
