<mat-expansion-panel
  [disabled]="true"
  [expanded]="true"
  class="income-panel mat-elevation-z8 "
>
  <mat-expansion-panel-header></mat-expansion-panel-header>
  <mat-grid-list cols="4" rowHeight="80px">
    <mat-grid-tile>
      <mat-card class=" mat-elevation-z0">
        <mat-card-header>
          <img
            class="dash-icon"
            mat-card-avatar
            src="https://img.icons8.com/color/96/000000/request-money.png"
          />

          <mat-card-title>Incomes:</mat-card-title>
          <mat-card-subtitle>$50.000</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class=" mat-elevation-z0">
        <mat-card-header>
          <img
            class="dash-icon"
            mat-card-avatar
            src="https://img.icons8.com/color/96/000000/initiate-money-transfer.png"
          />

          <mat-card-title>Expenses:</mat-card-title>
          <mat-card-subtitle>$30.000</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class=" mat-elevation-z0">
        <mat-card-header>
          <img
            class="dash-icon"
            mat-card-avatar
            src="https://img.icons8.com/color/96/000000/love-for-money.png"
          />

          <mat-card-title>Total:</mat-card-title>
          <mat-card-subtitle>$20.000</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class=" mat-elevation-z0">
        <mat-card-header>
          <img
            class="dash-icon"
            mat-card-avatar
            src="https://img.icons8.com/color/96/000000/split-transaction.png"
          />

          <mat-card-title>Total Transactions:</mat-card-title>
          <mat-card-subtitle>1234</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="500px">
    <mat-grid-tile>
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
      ></canvas>
    </mat-grid-tile>
    <!-- chart 2 --><mat-grid-tile>
      <canvas
        baseChart
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType"
      ></canvas>
    </mat-grid-tile>
  </mat-grid-list>
</mat-expansion-panel>
