<mat-expansion-panel
  [disabled]="true"
  [expanded]="true"
  class="income-panel mat-elevation-z8 "
>
  <mat-expansion-panel-header></mat-expansion-panel-header>
  <mat-grid-list cols="4" rowHeight="80px">
    <mat-grid-tile>
      <mat-card class=" mat-elevation-z0">
        <mat-card-header>
          <img
            class="dash-icon"
            mat-card-avatar
            src="https://img.icons8.com/color/96/000000/request-money.png"
          />

          <mat-card-title>Incomes:</mat-card-title>
          <mat-card-subtitle>${{ incomeTotal | number: '.2' }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class=" mat-elevation-z0">
        <mat-card-header>
          <img
            class="dash-icon"
            mat-card-avatar
            src="https://img.icons8.com/color/96/000000/initiate-money-transfer.png"
          />
          <mat-card-title>Expenses:</mat-card-title>
          <mat-card-subtitle>${{ expenseTotal | number: '.2' }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class=" mat-elevation-z0">
        <mat-card-header>
          <img
            class="dash-icon"
            mat-card-avatar
            src="https://img.icons8.com/color/96/000000/love-for-money.png"
          />
          <mat-card-title>Balance:</mat-card-title>
          <mat-card-subtitle>${{ total | number: '.2' }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class=" mat-elevation-z0">
        <mat-card-header>
          <img
            class="dash-icon"
            mat-card-avatar
            src="https://img.icons8.com/color/96/000000/split-transaction.png"
          />
          <mat-card-title>Total Transactions:</mat-card-title>
          <mat-card-subtitle> {{ totalTransactions }} </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list *ngIf="show === 'All'" cols="5" rowHeight="500px">
    <mat-grid-tile colspan="2">
      <canvas
        baseChart
        [data]="incomeDoughnutChartData"
        [labels]="incomeDoughnutChartLabels"
        [chartType]="doughnutChartType"
      ></canvas>
      <h5>Incomes</h5>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
      ></canvas>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <canvas
        baseChart
        [data]="expenseDoughnutChartData"
        [labels]="expenseDoughnutChartLabels"
        [chartType]="doughnutChartType"
      ></canvas>
      <h5>Expenses</h5>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list *ngIf="show === 'Incomes'" cols="5" rowHeight="620px">
    <mat-grid-tile colspan="3">
      <canvas
        baseChart
        [data]="incomeDoughnutChartData"
        [labels]="incomeDoughnutChartLabels"
        [chartType]="doughnutChartType"
      ></canvas>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
      ></canvas>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list *ngIf="show === 'Expenses'" cols="5" rowHeight="620px">
    <mat-grid-tile colspan="3">
      <canvas
        baseChart
        [data]="expenseDoughnutChartData"
        [labels]="expenseDoughnutChartLabels"
        [chartType]="doughnutChartType"
      ></canvas>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
      ></canvas>
    </mat-grid-tile>
  </mat-grid-list>
</mat-expansion-panel>
