<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form>
      <p>
        <mat-form-field>
          <input [(ngModel)]="userInfo.username" name="username" type="text" matInput placeholder="Username" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input [(ngModel)]="userInfo.password" name="password" type="password" matInput placeholder="Password" />
        </mat-form-field>
      </p>

      <div class="button">
        <button (click)="login()" type="submit" mat-button>Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
