<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-divider> </mat-divider>
    <mat-nav-list>
      <a
        mat-list-item
        routerLinkActive="router-link-active"
        ><img class="nav-icon white" src="../../assets/images/user.svg" alt="">{{fullUserName | async}}</a
      >
      <a
        mat-list-item
        [routerLink]="['/dashboard']"
        routerLinkActive="router-link-active"
        ><i class="material-icons nav-icon"> dashboard </i>Dashboard</a
      >
      <a
        mat-list-item
        [routerLink]="['/incomes']"
        routerLinkActive="router-link-active"
        >
          <img class="nav-icon white" src="../../assets/images/incomes.svg" alt="">
        Incomes</a
      >
      <a
        mat-list-item
        [routerLink]="['/expenses']"
        routerLinkActive="router-link-active"
        >
          <img class="nav-icon white" src="../../assets/images/expenses.svg" alt="">
        Expenses</a
      >
      <a
        mat-list-item
        (click)="drawer.toggle()"
        (click)="logout()"
        routerLinkActive="router-link-active"
        ><img class="nav-icon white" src="../../assets/images/logout.svg" alt="">Log Out</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content id="main-nav">
    <mat-toolbar *ngIf="loggedIn | async" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        (click)="setNavbarOpenState()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Troskovnik v0.1b</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
