<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-divider> </mat-divider>
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="['/dashboard']"
        routerLinkActive="router-link-active"
        ><i class="material-icons navbar-icon"> dashboard </i>Dashboard</a
      >
      <a
        mat-list-item
        [routerLink]="['/incomes']"
        routerLinkActive="router-link-active"
        ><i class="material-icons navbar-icon">
          call_received
        </i>
        Incomes</a
      >
      <a
        mat-list-item
        [routerLink]="['/expenses']"
        routerLinkActive="router-link-active"
        ><i class="material-icons navbar-icon"> call_made </i>Expenses</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Troskovnik v0.1b</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
