.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  font-family: 'Nunito', sans-serif;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.nav-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  &.white {
    filter: invert(100%);
  }
}
