<div *ngFor="let item of expenseArr; trackBy: trackByFn; let i = index" class="expenses-div">
  <div class="expense-field">Expense</div>
  <div class="expense-field">{{expenseArr[i].value.expense_category.name}}</div>
  <div class="expense-field">{{expenseArr[i].value.description}}</div>
  <div class="expense-field">{{expenseArr[i].value.entry_date}}</div>
  <div class="expense-field">{{expenseArr[i].value.amount}}</div>
  <button data-id="expense" id="{{expenseArr[i].value.id}}" (click)="deleteExpense($event)" class="delete-button expense-field" type="button" name="button">DELETE</button>
</div>
<div class="expense-total">
  <p>Total: {{expenseTotal | number: '.2'}}</p>
</div>
