<div *ngFor="let item of expenseArray; trackBy: trackByFn; let i = index">
  <span [ngClass]="item.fadeOut ? 'fade-out' : null" class='expenses-div'>
    <div class="expense-field">Expense <a routerLink="/expense_details/{{i}}">Details</a></div>
    <div class="expense-field">{{item["1"]?.expense_category.name}}</div>
    <div class="expense-field">{{item["1"]?.description}}</div>
    <div class="expense-field">{{item["1"]?.entry_date}}</div>
    <div class="expense-field">{{item["1"]?.amount}}</div>
    <button data-id="expense" id="{{item['1']?.id}}" (click)="deleteExpense($event); item.fadeOut = true" class="delete-button expense-field" type="button" name="button">DELETE</button>
  </span>
</div>
<div class="expense-total">
  <p>Total: {{expenseTotal | number: '.2'}}</p>
</div>
