@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.expenses-div {
  border-bottom: 1px solid red;
  background-color: pink;
  color: black;
  font-family: 'Open Sans';
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  transition: background-color 200ms, color 200ms, border-color 200ms;
  &.fade-out {
    background-color: transparent;
    color: transparent;
    border-color: transparent;
  }
  .expense-field {
    width: 25%;
    padding: 0px 5px;
  }
  .delete-button {
    position: relative;
    float: right;
    color: white;
    background: red;
    border: none;
    border-radius: 3px;
    padding: 9px;
    cursor: pointer;
  }
}

.expense-total {
  padding: 5px 10px;
  font-family: 'Open Sans';
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
}
