<app-create-income></app-create-income>
<app-create-expense></app-create-expense>
<div class="main-wrapper">
  <div class="information">
    <div class="information-category">TYPE</div>
    <div class="information-category">CATEGORY</div>
    <div class="information-category">DESCRIPTION</div>
    <div class="information-category">ENTRY DATE</div>
    <div class="information-category">AMOUNT</div>
    <div class="information-category"></div>
  </div>
  <div class="income-wrapper">
    <app-incomes
      (deleteEntry)="deleteEntry($event)"
      [incomeArr]="incomes | async | keyvalue"
      [incomeTotal]="totalIncomes">
    </app-incomes>
  </div>
  <div class="expense-wrapper">
    <app-expenses
      [expenseArr]="expenses | async | keyvalue"
      [expenseTotal]="totalExpenses">
    </app-expenses>
  </div>
</div>
