<app-main-nav>
  <router-outlet></router-outlet>
</app-main-nav>

<!-- <app-main-nav>
  <div *ngIf="loading" class="">
    <img
      class="loading-gif"
      src="https://loading.io/spinners/rolling/lg.curve-bars-loading-indicator.gif"
      alt=""
    />
  </div>
  <div *ngIf="!loading" class="">
    <app-create-income></app-create-income>
    <app-incomes
      (deleteEntry)="deleteEntry($event)"
    ></app-incomes>
    <app-create-income-category></app-create-income-category>
    <app-create-expense-category></app-create-expense-category>
    <div class="main-wrapper">
       <app-expenses
          (deleteEntry)="deleteEntry($event)"
          [expenseArr]="expenses | async | keyvalue"
          [expenseTotal]="totalExpenses"
        >
        </app-expenses>
    </div>
    <app-dashboard></app-dashboard>
  </div>
</app-main-nav> -->
