<mat-expansion-panel class="income-panel mat-elevation-z8 ">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Add New Income
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="create-income-card">
    <form class="income-form" #createIncomeForm="ngForm">
      <mat-form-field>
        <mat-label>Category</mat-label>

        <mat-select
          [(ngModel)]="incomeCategory"
          (valueChange)="setIncomeCategoryId($event)"
          name="select-income-category"
          class="select-input-category"
          value="incomeCategory"
        >
          <mat-option
            *ngFor="let item of incomeCategories | async; let i = index"
            id="{{ item.id }}"
            value="{{ item.id }}"
          >
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input
          (mousedown)="picker.open()"
          name="incomeEntryDate"
          required
          value=""
          pattern="/^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$/i"
          matInput
          [matDatepicker]="picker"
          placeholder="Entry Date"
          (dateInput)="setDate($event)"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [(ngModel)]="incomeAmount"
          required
          placeholder="Amount"
          type="number"
          name="incomeAmount"
          value=""
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput
          [(ngModel)]="incomeDescription"
          placeholder="Description"
          type="text"
          name="incomeDescription"
          value=""
        />
      </mat-form-field>
    </form>
    <button
      class="submit-button"
      (click)="sendIncome()"
      (click)="createIncomeForm.reset()"
      mat-raised-button
      color="primary"
    >
      Submit
    </button>
  </div>

  <mat-expansion-panel> </mat-expansion-panel
></mat-expansion-panel>

<mat-expansion-panel class="income-panel mat-elevation-z8 ">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Add New Income Category
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="create-income-card">
    <form class="income-form" #createIncomeCategory="ngForm">
      <mat-form-field class="full-width">
        <input
          matInput
          [(ngModel)]="newIncomeCategory"
          placeholder="New Income Category Name"
          type="text"
          name="newIncomeCategory"
          value=""
        />
      </mat-form-field>
    </form>
    <button
      class="submit-button"
      (click)="sendIncomeCategory()"
      (click)="createIncomeCategory.reset()"
      mat-raised-button
      color="primary"
    >
      Submit
    </button>
  </div>

  <mat-expansion-panel> </mat-expansion-panel
></mat-expansion-panel>
