@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.create-income {
  font-family: 'Open Sans';
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 3px;
}
.create-income-card {
  padding: 25px 25px 10px 25px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.income-form {
  max-width: 100%;
}
.income-form > * {
  width: 100%;
}
.submit-button {
  align-self: center;
}
.income-panel {
  margin-left: calc(3.5% - 17px);
  margin-right: calc(1.5% + 17px);
}
