<mat-expansion-panel class="expense-panel mat-elevation-z8 ">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Add New Expense
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="create-expense-card">
    <form class="expense-form" #createExpenseForm="ngForm">
      <mat-form-field>
        <mat-label>Category</mat-label>

        <mat-select
          [(ngModel)]="expenseCategory"
          (valueChange)="setExpenseCategoryId($event)"
          name="select-expense-category"
          class="select-input-category"
          value="expenseCategory"
        >
          <mat-option
            *ngFor="let item of expenseCategories | async; let i = index"
            id="{{ item.id }}"
            value="{{ item.id }}"
          >
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input
          name="expenseEntryDate"
          required
          (mousedown)="picker.open()"
          value=""
          matInput
          [matDatepicker]="picker"
          placeholder="Entry Date"
          (dateInput)="setDate($event)"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [(ngModel)]="expenseAmount"
          required
          placeholder="Amount"
          type="number"
          name="expenseAmount"
          value=""
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput
          [(ngModel)]="expenseDescription"
          placeholder="Description"
          type="text"
          name="expenseDescription"
          value=""
        />
      </mat-form-field>
    </form>
    <button
      class="submit-button"
      (click)="sendExpense()"
      mat-raised-button
      color="primary"
      (click)="createExpenseForm.reset()"
    >
      Submit
    </button>
  </div>

  <mat-expansion-panel> </mat-expansion-panel
></mat-expansion-panel>

<mat-expansion-panel class="expense-panel mat-elevation-z8 ">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Add New Expense Category
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="create-expense-card">
    <form class="expense-form" #createExpenseCategory="ngForm">
      <mat-form-field class="full-width">
        <input
          matInput
          [(ngModel)]="newExpenseCategory"
          placeholder="New Expense Category Name"
          type="text"
          name="newExpenseCategory"
          value=""
        />
      </mat-form-field>
    </form>
    <button
      class="submit-button"
      (click)="sendExpenseCategory()"
      (click)="createExpenseCategory.reset()"
      mat-raised-button
      color="primary"
    >
      Submit
    </button>
  </div>

  <mat-expansion-panel> </mat-expansion-panel
></mat-expansion-panel>
