@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.incomes-div {
  border-bottom: 1px solid green;
  background: lightgreen;
  font-family: 'Open Sans';
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 5px;
}

.income-field {
  width: 25%;
  padding: 0px 5px;
}

.income-total {
  padding: 5px 10px;
  font-family: 'Open Sans';
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
}

.delete-button {
  position: relative;
  float: right;
  color: white;
  background: red;
  border: none;
  border-radius: 3px;
  padding: 9px;
  cursor: pointer;
}
