.loading-spinner {
  height: 200px;
  width: 200px;
  margin: 20px auto;
}
.card {
  max-width: 400px;
  border-radius: 0 !important;
  margin-left: 6px;
  margin-top: 6px;
}
.paragraph {
  margin-left: 4%;
}
.footer {
  margin-left: 8%;
}
