.loading-spinner {
  height: 200px;
  width: 200px;
  margin: 20px auto;
}
.datepicker {
  margin-left: calc(3.5% - 17px);
  margin-right: calc(1.5% + 17px);
  border-radius: 0 !important;
}
.show-input {
  margin-right: 10px;
}
.clear-date {
  margin-left: 10px;
}
.mat-form-field-infix {
  max-width: 204px !important;
}
