<!--  material table  -->
<mat-spinner class="loading-spinner" *ngIf="loading"></mat-spinner>

<mat-card class="datepicker">
  <app-date-range-picker *ngIf="!loading"></app-date-range-picker>
  <button mat-button color="accent" (click)="clearDateRange()">
    Clear date range
  </button>
  <mat-form-field>
    <mat-label>Show:</mat-label>
    <mat-select (valueChange)="showTransactions($event)">
      <mat-option value="All">All</mat-option>
      <mat-option value="Incomes">Incomes</mat-option>
      <mat-option value="Expenses">Expenses</mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>
<app-bar-chart
  [totalTransactions]="totalTransactions"
  *ngIf="!loading"
></app-bar-chart>
<app-transaction-table
  [expenseTotal]="expenseTotal"
  [incomeTotal]="incomeTotal"
  [total]="total"
  [filteredTransactionsArr]="filteredTransactionsArr"
>
</app-transaction-table>
